service cloud.firestore {
  match /databases/{database}/documents {
    match /earlyAdopters/{adopter} {
      allow create: if request.resource.data.keys().hasAll(["name", "email", "telephone", "status", "networking", "learning", "mentoring", "collaboration","captchaResult"]);
  }
  }
}
