@import url('https://fonts.googleapis.com/css?family=Baloo|Cabin:400,500,700|Open+Sans');
@import 'foundation';

$body-font: 'Open Sans', sans-serif;
$header-font: 'Cabin', sans-serif;
$quote-font: 'Baloo', cursive;
$background-color: rgba($secondary-color, 0.1);

body {
  background: $background-color url('http://res.cloudinary.com/sabbn-co-za/image/upload/c_scale,q_auto:good,w_2400/v1518303435/_9080033.png') no-repeat fixed center;
  color: $secondary-color;
  font-family: $body-font;
}

.attribution {
  font-size: 1rem;
  font-weight: bolder;
  text-align: center;
}

.cn-sabbn {
  padding-top: 4rem;

  &-coming-soon {
    @include xy-grid-container;
    width: 80%;

    h1,
    h2,
    h3 {
      color: $primary-color;
      text-align: center;
    }
    
    h2,
    h3 {
      font-weight: 500;
    }

    h1 {
      font-size: 5rem;
      font-weight: 700;
    }

  

    .coming-soon-header {
      color: $secondary-color;
    }
  
    @include breakpoint(large down) { 
      h2 {
        font-size: 2rem;
      } 
    }
    
  }

  &-coming-soon-quote {
    // background-color: $background-color;

    blockquote {
      border: 0;
      color: $dark-gray;
      font-family: $quote-font;
      font-size: 2rem;
      @include breakpoint(large down) { 
        font-size: 1.5rem;
      }
    }
  }

  &-coming-soon-form {
    background-color: $background-color;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 3px 4px 3px 3px rgba($secondary-color, 0.2);
    padding: 0.5rem;

    label {
      color: $secondary-color;
      font-size: 1.1rem;
      font-weight: bolder;

      @include breakpoint(large down) { 
        font-size: 0.85rem;
        
      }
    }

    label {
      .required::after {
        color: $warning-color;
        content: '\002A';
      }
    }

    input,
    select {
      margin-bottom: 0.1rem;
    }
  
    .fieldset {
      padding-bottom: 0;
    }
  
    .error-text {
      color: $warning-color;
      font-size: 0.75rem;
      visibility: hidden;
    }

    .help-text {
      color: $warning-color;
      font-size: 0.75rem;
     
      &::after {
        color: $warning-color;
        content: '\002A';
      }
    }

    &-captcha {
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 1rem;
      width: 60%;

      @include breakpoint(large down) { 
        width: 80%;
      }
    }

    .form-button {
      text-align: center;

      button {
        border-radius: 5px;
        box-shadow: 2px 2px $dark-gray;
      }
    }

    &-result {
      padding-top: 20vh;
    }

    .privacy {
      @include breakpoint(large down) { 
        li {
          font-size: 1rem;
        }
      }

      ul {
        list-style-type: none;
      }
      
      li {
        padding-bottom: 0.25rem;
      }

      li::before {
        color: $primary-color;
        content: '\2713';
        font-weight: bolder;
        margin-right: 1rem;
        
      }


    }

    .hide {
      display: none;
    }

  }

  &-coming-soon-services {
    ul {
      margin-left: 10%;
    }

    .svg-inline--fa,
    li {
      font-size: 2rem;
      @include breakpoint(large down) { 
        font-size: 1.25rem;
      }
    }

    .svg-inline--fa {
      margin-right: 1rem;
      width: 2rem;
    }
  }
}

footer {
  .menu {
    margin-top: 2rem;
  }
}
